@CHARSET "ISO-8859-1";
body {
   height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: linear-gradient(to bottom, rgb(21,5,120), rgb(14,14,82));
}

h2 {
   font-family: 'Rubik', sans-serif;
   color: white;
}

h3 {
   font-family: 'Rubik', sans-serif;
   color: white;
   font-size: 22px;
}


@media screen and (min-width: 1201px) {
   #profilePic{
	 float:left;
	 border-radius: 15px; 
	 margin-top:3%; 
	 margin-right:3%;
	 max-width: 59%
	}
}

@media screen and (max-width: 1200px) {
  #profilePic{
	 border-radius: 15px; 
	 margin-top:3%; 
	 margin-right:3%;
	 max-width: 100%
	}
}

#contact{
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	width: 40%
}

#modal-image-div{
	text-align: center;
	padding: 1%
}

#modal-image{
	border-radius: 5px;
}


/* The "show" class is added to the filtered elements */
.show {
  display: inline-block;
}

#projectImage{
	margin-top: 3%;
}

.filterProjects{
	margin-right: 1%;
	margin-top: 1%;
}

#moreButton{
	background-color: #f6b7c1;
	color: black;
	border: none;
}

#projectButtons{
	width: 30%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

#aboutme {
  width: 40% ;
  margin-left: auto ;
  margin-right: auto ;
}

#blurb {
	display: block;
 	width: 60% ;
 	margin-top: 3%;
 	margin-left: auto ;
 	margin-right: auto ;
}

#projectCards {
	width: 70% ;
 	margin: auto;
}

.card-img-top{
	display: block;
	margin: auto;
	border-radius: 10px;
}

.navbar-brand {
    height: auto;
}

img {
    max-width:60%;
}

button {
   font-family: 'Rubik', sans-serif;
   border-radius: 5px;
   background: rgb(153,27,30);
   color: white;
   border: none;
}

input[type=range] {
   -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
   width: 300px;
   height: 5px;
   background: #ddd;
   border: none;
   border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   border: none;
   height: 36px;
   width: 36px;
   border-radius: 50%;
   background: rgb(153,27,30);
   margin-top: -15px;
}

input[type=range]:focus {
   outline: none;
}
 input[type=range]:focus::-webkit-slider-runnable-track {
   background: #ccc;
}
input[type=range] {
   /* fix for FF unable to apply focus style bug  */
   border: 1px solid white;
   /*required for proper track sizing in FF*/
   width: 25%;
}
 input[type=range]::-moz-range-track {
   width: 300px;
   height: 5px;
   background: #ddd;
   border: none;
   border-radius: 3px;
}
 input[type=range]::-moz-range-thumb {
   border: none;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   background: rgb(153,27,30);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
   outline: 1px solid white;
   outline-offset: -1px;
}
 input[type=range]:focus::-moz-range-track {
   background: #ccc;
}

/* for ie */

input[type=range]::-ms-track {
   width: 300px;
   height: 5px;

/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
   background: transparent;

/*leave room for the larger thumb to overflow with a transparent border */
   border-color: transparent;
   border-width: 6px 0;

/*remove default tick marks*/
   color: transparent;
}

input[type=range]::-ms-fill-lower {
   background: #777;
   border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
   background: #ddd;
   border-radius: 10px;
}
input[type=range]::-ms-thumb {
   border: none;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   background: rgb(153,27,30);
}
input[type=range]:focus::-ms-fill-lower {
   background: #888;
}
input[type=range]:focus::-ms-fill-upper {
   background: #ccc;
}

@media screen and (min-width: 1201px) {
   #tameImpala{
	 width: 10%;
	font-size: 22px;
	margin-right: 5%
	}
	#oklou{
	width: 10%;
	font-size: 22px;
	}
}

@media screen and (max-width: 1200px) {
	#tameImpala{
	width: 20%;
	font-size: 22px;
	margin-right: 5%
	}
	#oklou{
	width: 20%;
	font-size: 22px;
	}
}